<style type = "text/css">
.blue{
    color : blue
}
.purple {
    color : purple
}
#hehe {
    color : red;
    background-color: black;
    font-size: 40px;
}
#FK {
    background-color : black
}
#second {
    font-weight: bold;
}
.ttt {
    font-size: 10px;
}
</style>