/* Add your styles here */
.contaner {
    position : static;
}

.navbar {
    background-color: #5191fd;
}

.navbar.li {
    margin : 10px;
    background-color: #f1f1f1;
    display: inline-block;
}

.header {
    background-color: #cdcdcd;
}

.header h1 {
    font-size: 100px;
    text-align: center;
}